
choice
  prompt "Free block finder type"
  default HEAP_SIMPLE_FREE_BLOCK_BEST_FIT
  
  config HEAP_SIMPLE_FREE_BLOCK_BEST_FIT
    bool "Best fit"
    help
      Slower allocation on slow path (when bump pointer method exhausted)
      but leads to less heap fragmentation 
  
  config HEAP_SIMPLE_FREE_BLOCK_FIRST_FIT
    bool "First fit"
    help
      Faster allocation on slow path (when bump pointer method exhausted)
      but leads to more heap fragmentation
endchoice


