menu "Mods"
  config MOD_DMA
    bool "Enable DMA mod"
    default n
  
  if MOD_DMA
    source "Kconfig.dma"
  endif
  
  config MOD_DEBUG
    bool "Enable Debug mod"
    default n
    select HOOK
  
  if MOD_DEBUG
    source "debug/Kconfig"
  endif
endmenu
