
choice
  prompt "DMA Flavour"
  default MOD_DMA_NATIVE if GC_UNMOVEABLE_DATA
  
  config MOD_DMA_ZERO_COPY
    bool "Zero copy (fastest)"
    depends on GC_UNMOVEABLE_DATA
    help
      Fastest mode with zero overhead of copying data

  # Unavailable yet
  #config MOD_DMA_EMULATED
  #  bool "Emulated (slowest)"
  #  help
  #    Slower implementation of DMA mod by using intermediate
  #    buffer. Works with any configuration
endchoice
