mainmenu "FluffyGC project Configuration"
source "buildsystem/Kconfig"

config PLACEHOLDER_FOR_STATIC_STUFF_UWU
  def_bool y
  #select BUILD_HAS_EXECUTABLE
  select BUILD_IS_LIBRARY
  #select BUILD_IS_KERNEL

menu General
  config VERSION_MAJOR
    int
    default 0

  config VERSION_MINOR
    int
    default 1

  config VERSION_PATCH
    int
    default 0

  config VERSION_LOCAL_VERSION
    string "Local version"
    default ""
    help
      Appended to the end of version string
  
  config STRICTLY_POSIX
    bool "Strict POSIX compliant"
    default y
    help
      Disable any non POSIX 2008 libc or
      platform specific API usage
endmenu

menu Memory
  config MEMORY_DEBUG
    bool "Enable option for debugging memory problems"
  
  menu "Small Object Cache"
    config SOC_USE_MALLOC
      bool "Use system malloc instead from cache"
      default y if MEMORY_DEBUG
      help
        This essentially bypass cache and use malloc instead if you are using
        ASAN, MSAN, Valgrind to debug memory problems. Or if your system's malloc
        is faster than SOC for small objects (<8 words) its safe to say Y.
        In most cases its usually slower than SOC.
        
        If in doubt, answer Y
  endmenu
endmenu

config DONT_START_SEPERATE_MAIN_THREAD
  bool "Don't start seperate main thread"
  default n
  
config API_ENABLE_V2
  bool "Enable version 2 API"
  default y
