mainmenu "FluffyGC project Configuration"
#source "buildsystem/Kconfig"

config PLACEHOLDER_FOR_STATIC_STUFF_UWU
  def_bool y
  #select BUILD_HAS_EXECUTABLE
  select BUILD_IS_LIBRARY
  #select BUILD_IS_KERNEL

config MAIN_DISABLED
  bool

menu General
  config VERSION_MAJOR
    int
    default 0

  config VERSION_MINOR
    int
    default 1

  config VERSION_PATCH
    int
    default 0

  config VERSION_LOCAL_VERSION
    string "Local version"
    default ""
    help
      Appended to the end of version string
  
  config STRICTLY_POSIX
    bool "Strict POSIX compliant"
    default y
    help
      Disable any non POSIX 2008 libc or
      platform specific API usage
endmenu

menu "Managed heap"
  config DISABLE_THREADS
    bool "Disable threads"
    help
      Disable threads for platform which has no threading capability
      Note: multithreaded usage is fine
endmenu

source "src/memory/Kconfig"
source "src/fuzzing/Kconfig"
source "src/gc/Kconfig"
source "src/api/mods/Kconfig"

config ENABLE_STACKTRACE
  bool "Enable stacktrace support"
  depends on !STRICTLY_POSIX

if ENABLE_STACKTRACE
  source "src/stacktrace/Kconfig"
endif

config HOOK
  def_bool n

config DONT_START_SEPERATE_MAIN_THREAD
  bool "Don't start seperate main thread"
  default n
 
