menu "GC"
  config GC_UNMOVEABLE_DATA
    def_bool n
  
  config GC_SEPERATE_THREAD
    bool "Seperate GC thread"
    depends on !DISABLE_THREADS
    default y
    help
      This let main GC part runs on its own thread
      to hopefully improve cache locality and also
      for convenience of watching GC CPU usage for
      main part

  config GC_MARK_MAX_DEPTH
    int "Maximum recursion for marking"
    range 200 10000
    default 200
    help
      Upper bound of recursive mark
endmenu
