
choice
  prompt "DMA Flavour"
  default MOD_DMA_FLAVOUR_ZERO_COPY if HEAP_HAVE_FIXED_DATA_PTR
  
  config MOD_DMA_FLAVOUR_ZERO_COPY
    bool "Zero copy"
    depends on HEAP_HAVE_FIXED_DATA_PTR
    help
      Fastest mode with zero overhead of copying data

  config MOD_DMA_FLAVOUR_COPYING
    bool "Copying"
    help
      Slower implementation of DMA mod by using intermediate
      buffer. Works with any configuration.

endchoice

