
config ENABLE_STACKTRACE
  bool "Enable stacktrace support"
  depends on !STRICTLY_POSIX

menu "Stacktrace options"
  choice
    prompt "Stacktrace provider"
    depends on ENABLE_STACKTRACE
    
    config STACKTRACE_PROVIDER_LIBBACKTRACE
      bool "libbacktrace"
  endchoice

  config STACKTRACE_USE_DLADDR
    bool "Use dladdr to get function name if debug info unavailable"
    depends on ENABLE_STACKTRACE && !STRICTLY_POSIX
endmenu

