
config ENABLE_STACKTRACE
  bool "Enable stacktrace support"
  depends on !STRICTLY_POSIX

config STACKTRACE_HAVE_LIBUNWIND
  def_bool $[[scripts/check_pkgconfig.sh libunwind]]
config STACKTRACE_HAVE_LIBBACKTRACE
  def_bool $[[scripts/check_linker_lib.sh backtrace]]

menu "Stacktrace options"
  choice
    prompt "Stacktrace provider"
    depends on ENABLE_STACKTRACE
    
    config STACKTRACE_PROVIDER_LIBBACKTRACE
      bool "libbacktrace"
      depends on STACKTRACE_HAVE_LIBBACKTRACE

    config STACKTRACE_PROVIDER_LIBUNWIND
      bool "libunwind"
      depends on STACKTRACE_HAVE_LIBUNWIND
  endchoice

  config STACKTRACE_USE_DLADDR
    bool "Use dladdr to get function name if debug info unavailable"
    depends on ENABLE_STACKTRACE && !STRICTLY_POSIX
endmenu

