menu "Heap allocator"
  config HEAP_USE_MALLOC
    bool "Use system malloc instead custom allocator"
    default y if MEMORY_DEBUG
    help
      Use system malloc to allow ASAN to catch heap access error
      
      If in doubt, answer N
  choice
    prompt "Free block finder type"
    depends on !HEAP_USE_MALLOC
    default HEAP_FREE_BLOCK_BEST_FIT
    
    config HEAP_FREE_BLOCK_BEST_FIT
      bool "Best fit"
      help
        Slower allocation on slow path (when bump pointer method exhausted)
        but leads to less heap fragmentation 
    config HEAP_FREE_BLOCK_FIRST_FIT
      bool "First fit"
      help
        Faster allocation on slow path (when bump pointer method exhausted)
        but leads to more heap fragmentation
  endchoice
endmenu
