menu "Heap"
  config HEAP_COMPACTABLE_HEAP
    bool

  # The data ptr is fixed throughout
  # object lifetime, data may be moved
  # but ptr used to accessed it still
  # usable
  config HEAP_HAVE_FIXED_DATA_PTR
    bool

  choice
    prompt "Heap flavour"
    default HEAP_FLAVOUR_MALLOC

    config HEAP_FLAVOUR_SIMPLE
      bool "Simple"
      select HEAP_COMPACTABLE_HEAP
      help
        Simple and capable of heap compaction.
    
    config HEAP_FLAVOUR_MALLOC
      bool "Runtime malloc"
      help
        Plain and simple malloc call. With 0 capability
        of heap compaction.
  endchoice

  if HEAP_FLAVOUR_SIMPLE
  source "heap_simple/Kconfig"
  endif
  
  if HEAP_FLAVOUR_MALLOC
  source "heap_malloc/Kconfig"
  endif
endmenu


