
choice
  prompt "Default verbosity"
  default MOD_DEBUG_NORMAL
  
  config MOD_DEBUG_NORMAL
    bool "Normal"
    help
      Warn only
  
  config MOD_DEBUG_VERBOSE
    bool "Verbose"
    help
      Print each API call and return value
  
  config MOD_DEBUG_ULTRA_VERBOSE
    bool "Ultra verbose"
    help
      Print each API call, return value and its
      arguments
endchoice

config MOD_DEBUG_PANIC
  bool "Panic on error"
  help
    Panics by default on invalid API call else print
    warnings

config MOD_DEBUG_ALWAYS_ENABLE
  bool "Always enable"
  help
    Always enable debug mod, enabled implicitly and
    can't be disabled
    
    Note: Due the design some function will always
    be checked regardless whether the mod enabled
    or not (usually the one which don't need valid
    managed heap instance in thread local variable)

