menu Fuzzing
  config FUZZER
    bool
    select MAIN_DISABLED
  
  choice
    prompt "Fuzzer variant"
    depends on !BUILD_OVERRIDE_PROJECT_FLAGS
    
    config FUZZER_NONE
      bool "None"
    
    config FUZZER_LIBFUZZER
      bool "libFuzzer"
      select FUZZER
      help
        When using with ASAN for long time its
        recommended to use fork mode (`-fork=N`) 
        and use `quarantine_size_mb` to avoid
        unbounded RSS growth when there really
        no leaks due ASAN's quarantine
  endchoice
  
  choice
    prompt "Select subsystem to fuzz"
    depends on FUZZER
    
    config FUZZ_SOC
      bool "SOC allocator and deallocator"
    config FUZZ_HEAP
      bool "Heap allocator and deallocator"
    config FUZZ_ROOT_REFS
      bool "Root refs allocator and deallocator"
  endchoice
  
  config FUZZ_SOC_USE_IMPLICIT
    bool "Use soc_* implicit variant"
    depends on FUZZ_SOC
    help
      Currently defautl explicit variant soc_*_explicit avoids looking
      up memory address for a chunk to fuzz on the core code
      more efficiently than trying to fuzz the lookup codes and the core
endmenu
